h1 {
  font-family: cursive;
}

html, body {
  height: 100%;
  margin: 0;
  /* background-color: black; */
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#editor {
  background-color: rgba(255,255,255, 0.0);
  border: none;
}

#shader-view {
}

#monaco-editor {
  width:100%;
  height:600px;
  border:1px solid #ccc;
}
.yRemoteSelection {
  background-color: rgb(250, 129, 0, .5)
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border: 3px solid orange;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}