h1 {
  font-family: cursive;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#editor {
  background-color: rgba(255,255,255, 0.0);
  border: none;
}

#shader-view {
}